
RewriteEngine On

Options -Indexes

RewriteCond %{REQUEST_URI} /$
RewriteRule ^(.*)$ pages/index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# If the request doesn't end in .php (Case insensitive) continue processing rules
RewriteCond %{REQUEST_URI} !\.php$ [NC]

# If the request doesn't end in a slash continue processing the rules
RewriteCond %{REQUEST_URI} [^/]$


# Rewrite the request with a .php extension. L means this is the 'Last' rule
RewriteRule ^(.*)$ pages/$1.php [L]